<%= render @post %>

<p class="fs-3">Comments: </p>
<% if @post.comments.any? %>
  <%= render @post.comments %>
<% else %>      
    <p class="fw-bold">No comments yet. Be the first!</p>
<% end %>
<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% else %>  
    <%= link_to "Sign in to share your thoughts!", new_user_session_path, class:"btn btn-info my-3" %> 
<% end %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
